@mixin bg($num, $color) {
    .t#{$num} {
        background-color: $color;
    }
}

@include bg(1, #fff025);
@include bg(2, #c5c5ce);
@include bg(3, #f0863f);

@include bg(5, #6dff6d);
@include bg(10, #56ca56);
@include bg(20, #42a542);

@include bg(30, #a4e7fc);
@include bg(40, #8be4ff);
@include bg(50, #70deff);

@include bg(60, #82c2ff);
@include bg(70, #6da6db);
@include bg(80, #578dc0);
@include bg(100, #3a6894);

@include bg(125, #e75959);
@include bg(150, #d34d4d);
@include bg(175, #b93c3c);
@include bg(200, #9b2424);

@include bg(225, #e651cd);
@include bg(250, #ce37b5);
@include bg(275, #b1269a);
@include bg(300, #94147f);

@include bg(325, #9751e6);
@include bg(350, #7938c2);
@include bg(375, #5b229c);
@include bg(400, #431479);

@include bg("400p", #414141);

table {
    border-collapse:collapse;
    text-align: center;
    tr {
        th {
            border: 1px black solid;
            border-bottom: 5px black solid ;
            padding: 10px;
            max-width: 50px;
            overflow: hidden;
        }

        td {
            padding: 12px;
            border: 1px black solid;
        }
    }
}