.t1 {
  background-color: #fff025;
}

.t2 {
  background-color: #c5c5ce;
}

.t3 {
  background-color: #f0863f;
}

.t5 {
  background-color: #6dff6d;
}

.t10 {
  background-color: #56ca56;
}

.t20 {
  background-color: #42a542;
}

.t30 {
  background-color: #a4e7fc;
}

.t40 {
  background-color: #8be4ff;
}

.t50 {
  background-color: #70deff;
}

.t60 {
  background-color: #82c2ff;
}

.t70 {
  background-color: #6da6db;
}

.t80 {
  background-color: #578dc0;
}

.t100 {
  background-color: #3a6894;
}

.t125 {
  background-color: #e75959;
}

.t150 {
  background-color: #d34d4d;
}

.t175 {
  background-color: #b93c3c;
}

.t200 {
  background-color: #9b2424;
}

.t225 {
  background-color: #e651cd;
}

.t250 {
  background-color: #ce37b5;
}

.t275 {
  background-color: #b1269a;
}

.t300 {
  background-color: #94147f;
}

.t325 {
  background-color: #9751e6;
}

.t350 {
  background-color: #7938c2;
}

.t375 {
  background-color: #5b229c;
}

.t400 {
  background-color: #431479;
}

.t400p {
  background-color: #414141;
}

.tpal {
  background-color: #96cff0;
}

.tntsc {
  background-color: #96f0a5;
}

.tna {
  background-color: #acacac;
}

.tgod4 {
  background-color: #953737;
}

.tgod3 {
  background-color: #a74343;
}

.tgod2 {
  background-color: #bb5151;
}

.tgod1 {
  background-color: #d46666;
}

.tgod {
  background-color: #ec7979;
}

.tmytha {
  background-color: #71f086;
}

.tmythb {
  background-color: #5cce6f;
}

.tmythc {
  background-color: #44b156;
}

.tmythd {
  background-color: #329543;
}

.ttitana {
  background-color: #baf186;
}

.ttitanb {
  background-color: #a7d47c;
}

.ttitanc {
  background-color: #8db964;
}

.ttitand {
  background-color: #769b53;
}

.theroa {
  background-color: #86abf1;
}

.therob {
  background-color: #7798d4;
}

.theroc {
  background-color: #6c88bb;
}

.therod {
  background-color: #6c7fa1;
}

.tmastera {
  background-color: #f167ac;
}

.tmasterb {
  background-color: #cf5693;
}

.tmasterc {
  background-color: #b94b82;
}

.tmasterd {
  background-color: #9c3c6c;
}

.texperta {
  background-color: #f186e8;
}

.texpertb {
  background-color: #e27cda;
}

.texpertc {
  background-color: #cf6fc7;
}

.texpertd {
  background-color: #b864b1;
}

.tadvancea {
  background-color: #af86f1;
}

.tadvanceb {
  background-color: #936fce;
}

.tadvancec {
  background-color: #7559a3;
}

.tadvanced {
  background-color: #694f92;
}

.tintermediatea {
  background-color: #f1dd86;
}

.tintermediateb {
  background-color: #d4c377;
}

.tintermediatec {
  background-color: #b9aa68;
}

.tintermediated {
  background-color: #968953;
}

.tbeginnera {
  background-color: #fa9332;
}

.tbeginnerb {
  background-color: #d67c27;
}

.tbeginnerc {
  background-color: #be7026;
}

.tbeginnerd {
  background-color: #955b24;
}

.tnewbie {
  background-color: #414141;
}

table {
  border-collapse: collapse;
  text-align: center;
}
table tr th {
  border: 1px black solid;
  border-bottom: 5px black solid;
  padding: 10px;
  max-width: 50px;
  overflow: hidden;
}
table tr td {
  padding: 12px;
  border: 1px black solid;
}

/*# sourceMappingURL=style.css.map */
