doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title CTR4Ever Ranking Color

        link(rel="stylesheet" type="text/css" href="resources/style/style.css")
    body
        .container
            h1.title CTR4Ever Ranking Color

            .menu
                .searchbar
                    input(type="search" id="searchbar" onkeyup="searchbar(0)")
                hr
                .zoom
                    button(onclick="zoom(0)") Zoom
                    button(onclick="zoom(1)") Unzoom
                hr
                button(onclick="display(0)") Ranking
                button(onclick="display(1)") Version
                button(onclick="display(2)") Driver
                button(onclick="display(3)") Standard
                button(onclick="display(4)") Updated Standard
                hr

            table#table
                thead
                    tr
                        th Rank
                        th Speudo
                        th Country
                        th(colspan="2") Crash Cove
                        th(colspan="2") Roo tubes
                        th(colspan="2") Tiger Temple
                        th(colspan="2") Coco Park
                        th(colspan="2") Mystery Caves
                        th(colspan="2") Blizzard Bluff
                        th(colspan="2") Sewer Speedway
                        th(colspan="2") Dingo Canyon
                        th(colspan="2") Papu Pyramid
                        th(colspan="2") Dragon Mines
                        th(colspan="2") Polar Pass
                        th(colspan="2") Cortex Castle
                        th(colspan="2") Tiny Arena
                        th(colspan="2") Hot Air Skyway
                        th(colspan="2") N.Gin Labs
                        th(colspan="2") Oxide Station
                        th(colspan="2") Slide Coliseum
                        th(colspan="2") Turbo Track
                tbody#ranking

        script(src="resources/script/script.js")