doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title data.ctr4ever.com

        link(rel="stylesheet" type="text/css" href="resources/style/style.css")
    body
        .container
            h1.title data.ctr4ever.com

            table#table
                thead
                    tr
                        th Rank
                        th Speudo
                        th Country
                        th Age
                        th(colspan="2") Crash Cove
                        th(colspan="2") Roo tubes
                        th(colspan="2") Tiger Temple
                        th(colspan="2") Coco Park
                        th(colspan="2") Mystery Caves
                        th(colspan="2") Blizzard Bluff
                        th(colspan="2") Sewer Speedway
                        th(colspan="2") Dingo Canyon
                        th(colspan="2") Papu Pyramid
                        th(colspan="2") Dragon Mines
                        th(colspan="2") Polar Pass
                        th(colspan="2") Cortex Castle
                        th(colspan="2") Tiny Arena
                        th(colspan="2") Hot Air Skyway
                        th(colspan="2") N.Gin Labs
                        th(colspan="2") Oxide Station
                        th(colspan="2") Slide Coliseum
                        th(colspan="2") Turbo Track
                tbody#list

        script(src="resources/script/index.js")